<body>

	<div class="card card-body">
		<h4 class="card-title">Búsqueda de libros</h4>

		<i class="fa fa-search"></i>
		<div class="md-form">
			<input type="text" [(ngModel)]="libroABuscar" class="form-control" placeholder="Ingrese el valor a buscar">
		</div>

		<div class="flex-row">
			<table class="table table-striped table-bordered table-hover">
				<tr class="cyan lighten-4">
					<th>Titulo</th>
					<th>Autor</th>
				</tr>
				<tr *ngFor="let libro of libros | libroFilter: libroABuscar">
					<td>
						<span data-testid="titulo">
							{{libro.titulo}}
						</span>
					</td>
					<td>
						<span data-testid="autor">
							{{libro.autor}}
						</span>
					</td>
				</tr>
			</table>
		</div>
	</div>
</body>