<div class="card card-body">
  <h4 class="card-title">Editar {{libroEdicion.titulo}}</h4>
</div>
<div class="card card-body formulario">
  <div class="md-form">
    <input type="text" data-testid="titulo" [(ngModel)]="libroEdicion.titulo" class="form-control form-icon-trailing" placeholder="Título">
  </div>

  <div class="md-form">
    <input type="text" [(ngModel)]="libroEdicion.autor" class="form-control form-icon-trailing" placeholder="Autor">
  </div>

  <div class="md-form">
    <input type="text" [(ngModel)]="libroEdicion.editorial" class="form-control form-icon-trailing" placeholder="Editorial">
  </div>

  <div class="md-form">
    <input type="number" [(ngModel)]="libroEdicion.paginas" class="form-control form-icon-trailing" placeholder="Cantidad de páginas">
  </div>

  <div class="md-form">
    <button class="btn btn-primary" data-testid="aceptar" (click)="aceptar()">Aceptar</button>
    <button class="btn btn-secondary" data-testid="cancelar" (click)="cancelar()">Cancelar</button>
  </div>
</div>